@import "/style/main-page/navigation.css";
@import "/style/main-page/card.css";
@import "/style/main-page/footer.css";
@import "/style/blog-styles/blog-title.css";
@import "/style/blog-styles/blog-post.css";
@import "/style/blog-styles/blog-about.css";
@import "/style/blog-styles/blog-media.css";
@import "/style/blog-styles/blog-footer.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
}

.container {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(6.25rem, auto);
    gap: 5px;
    grid-template-areas:
        "nav nav nav nav"
        "bg bg bg bg"
        "ft ft ft ft";
}

.blog-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(5rem, auto);
    gap: 5px;
    grid-template-areas:
        "title title"
        "main about"
        "main2 sc"
        "footer footer";
}

/*MEDIA QUERIES*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        height: 100%;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "nv"
            "ct"
            "fo"
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-container {
        height: 100%;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "tt"
            "post"
            "post-2" 
            "author"
            "foot";
    }
}