.social-media {
    grid-area: sc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

@media only screen and (max-width:650px) {
    .social-media {
        grid-area: about;
        align-items: flex-end;
        justify-content: center;
        height: 250px;
        margin-top: .5rem;
    }
}

.social-media ul {
    list-style: none;
}

.social-media ul li a {
    text-decoration: none;
    color: #944ece;

}

.social-media ul li i {
    margin-right: .5rem;
}

.social-media ul li a:hover {
    color: #5d2a86;
}

.social-media ul li a:active {
    color: black;
}