.about-section {
    grid-area: about;
    margin-top: 1rem;
    margin-left: .8rem;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width:650px) {
    .about-section {
        grid-area: main;
        margin-left:  10px;
    }
}

.about-section h2 {
    background-image: linear-gradient(to right, #722cb4e7, #a068c0e0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-section ul {
    list-style: none;
}