.blog-post {
    grid-area: main;
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width:650px) {
    .blog-post {
        grid-area: main2;
        margin-left: 1rem;
        margin-top: 2rem;
    }
}

.blog-post p {
    margin-top: 1rem;
    margin-left: 0;
}

.blog-post-2 {
    grid-area: main2;
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width:650px) {
    .blog-post-2 {
            grid-area: sc;
            margin-left: .5rem;
            margin-right: 1rem;
            margin-top: 2rem;
    }
}

.blog-post-2 p {
    margin-top: 1rem;
}

@media only screen and (max-width:650px) {
    .blog-post-2 p {
        margin-top: 1.5rem;
    }
}

.blog-i {
    color: lightcoral;
}

.link-1,
.link-2,
.link-3 {
    text-decoration: none;
    color: #af6cce;
}