.blog-header {
    grid-area: title;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn, #b18de0, #a1f9fc, #59f7b5);
    width: 100vw;
    height: 5rem;
}

.go-back {
    grid-area: title;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    margin-right: 1rem;
}

.go-back a:hover {
    transform: skewY(1deg) skewX(10deg) scale(1.1);
    -webkit-transform: skewY(1deg) skewX(10deg) scale(1.1);
    -moz-transform: skewY(1deg) skewX(10deg) scale(1.1);
    -ms-transform: skewY(1deg) skewX(10deg) scale(1.1);
    -o-transform: skewY(1deg) skewX(10deg) scale(1.1);
}

/*MEDIA QUERIES*/

@media only screen and (min-device-width: 1000px) and (max-device-width: 1400px) {
    .blog-header {
        width: 100%;
        height: 8rem;
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1400px) {
    .go-back a {
        font-size: 25px;
    }
}

@media only screen and (max-width:650px) {
    .go-back {
        grid-area: about;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-header {
        grid-area: tt;
        font-size: 18px;
        height: 6rem;
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .go-back {
        grid-area: tt;
        font-size: 16px;
        margin-top: 2.2rem;
    }
}