.blog-post {
    grid-area: main;
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    text-align: center;
}

.blog-post p {
    margin-top: 1rem;
    margin-left: 0;
}

.blog-post-2 {
    grid-area: main2;
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    text-align: center;
}

.blog-post-2 p {
    margin-top: 1rem;
}

.blog-i {
    color: lightcoral;
}

.link-1,
.link-2,
.link-3 {
    text-decoration: none;
    color: #af6cce;
}

/*MEDIA QUERIES*/

@media only screen and (min-device-width: 1000px) and (max-device-width: 1400px) {
    .blog-post {
        font-size: 20px;
    }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1400px) {
    .blog-post-2 {
        font-size: 20px;
    }
}

@media only screen and (max-width:650px) {
    .blog-post {
        grid-area: main2;
        margin-left: 1rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width:650px) {
    .blog-post-2 {
        grid-area: sc;
        margin-left: .5rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width:650px) {
    .blog-post-2 p {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-post {
        grid-area: post;
        font-size: 15px;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 100vw;
        margin-left: .5em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-post p {
        margin-top: .5rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-post-2 {
        grid-area: post-2;
        margin-top: .5rem;
        font-size: 15px;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin-left: .5em;
        width: 100vw;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .blog-post-2 p {
        margin-top: .5rem;
    }
}